<div id="logo-home">
<a href="#"><img src="images/chicago-cleaning-systems.png" /></a>
</div>
<div id="nav">
<ul id="f1">
<li><a ng-click="setRoute('home')">Home</a></li>
<li><a href="#">Sales</a></li>
<li><a href="#">Customers</a></li>
<li style="background:#592884; cursor:pointer"><a ng-click="setRoute('franchise')">Franchise</a></li>
<li><a href="#">Employees</a></li>
<li><a href="#">Work</a></li>
<li><a href="#">Accounting</a></li>
<li><a href="#">Reports</a></li>
<li><a href="#">Settings</a></li>
<li><a ng-click="logout()">Logout</a></li>
</ul>
</div>
<div id="input">
<form ng-submit="franchise()" novalidate>
<span style="color:red; font-weight:bold; margin-left: 115px" ng-repeat="error in errors">{{ error}}</span>
<span style="color:#000; margin-left: 150px; font-weight:bold; padding:10px;" ng-repeat="msg in msgs">{{ msg}}</span>
<table width="100%">
<tr><td>First Name</td><td><input type="text" ng-model="firstname" id="firstname"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er1"></span></td></tr>
<tr><td>Last Name</td><td><input type="text" ng-model="lastname" id="lastname"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er2"></span></td></tr>
<tr><td>Name on Checks</td><td><input type="text" ng-model="namechecks" id="namechecks"/></td></tr> 
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er3"></span></td></tr>
<tr><td>Address</td><td><input type="text" ng-model="address" id="address"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er4"></span></td></tr>
<tr><td>City</td><td><input type="text" ng-model="city" id="city"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er5"></span></td></tr>
<tr><td>State</td><td><input type="text" ng-model="state" id="state"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er6"></span></td></tr>
<tr><td>Zip</td><td><input type="text" ng-model="zip" id="zip" /></td></tr>   
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er7"></span></td></tr> 
<tr><td>Country</td><td><input type="text" ng-model="country" id="country"/></td></tr> 
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er8"></span></td></tr>
<tr><td>Mobile Phone</td><td><input type="text" ng-model="mphone" id="mphone"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er9"></span></td></tr>
<tr><td>Fax</td><td><input type="text" ng-model="fax" id="fax"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er10"></span></td></tr>
<tr><td>Email</td><td><input type="text" ng-model="email" id="email1"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er11"></span></td></tr> 
<tr><td></td><td><input type="submit" value="Create Franchise" style="height: 40px;background: #6eb43f;color: #fff;font-family: arial;font-size: 18px;border: none;" />
</td></tr>                
</table>
</form>
