<div id="login1">
<div id="logo">
<h3>Change Password</h3><img src="images/chicago-cleaning-systems.png" style="float:right; margin-right:40px;" width="230" height="90" />
</div>
<div id="form">
<form ng-submit="cp()" novalidate>
<span style="color:red; font-weight:bold; font-size: 13px; margin-left:10px;" ng-repeat="error in errors">&nbsp;{{ error}}</span>
<span style="color:#000; font-weight:bold; font-size: 13px; margin-left:10px;" ng-repeat="msg in msgs">&nbsp;{{ msg}}&nbsp;<a style="cursor: pointer;" ng-click="backto()">Login</a></span>
<table style="height:auto; margin:2px auto;">
<tr class="pswd">
<td class="col-2">Old Password:</td><td><input type="text"  ng-model="credentials.opassword" id="onp"/></td></tr>
<tr><td class="col-2"></td><td><span style="color:red; font-size: 13px;margin-left:50px;" id="err1"></span></td></tr>
<tr class="pswd">
<td class="col-2">New Password:</td><td><input type="password"  ng-model="credentials.password" id="np"/></td></tr>
<tr><td class="col-2"></td><td><span style="color:red; font-size: 13px;margin-left:50px;" id="err2"></span></td></tr>
<tr class="pswd">
<td class="col-2">Confirm Password:</td><td><input type="password"  ng-model="credentials.cpassword" id="ccp"/></td></tr> 
<tr><td class="col-2"></td><td><span style="color:red; font-size: 13px;margin-left:50px;" id="err3"></span></td></tr>
<tr class="check-1">
<td class="col-1" colspan="2">
<input type="submit" value="Change Password" style="height: 40px;background: #6eb43f;color: #fff;font-family: arial;font-size: 18px;border: none; margin-left: 168px;" />
</td>
</tr></table>
</form>
</div>
</div>
