<div id="logo-home">
<a href="#"><img src="images/chicago-cleaning-systems.png" /></a>
</div>
<div id="nav">
<ul id="f1">
<li><a ng-click="setRoute('home')">Home</a></li>
<li><a href="#">Sales</a></li>
<li style="background:#592884; cursor:pointer"><a ng-click="setRoute('customer')">Customers</a></li>
<li><a ng-click="setRoute('franchise')">Franchise</a></li>
<li><a href="#">Employees</a></li>
<li><a href="#">Work</a></li>
<li><a href="#">Accounting</a></li>
<li><a href="#">Reports</a></li>
<li><a href="#">Settings</a></li>
<li><a ng-click="logout()">Logout</a></li>
</ul>
</div>
<div id="input">
<form ng-submit="updatecustomer()" novalidate>
<span style="color:red; font-weight:bold; margin-left: 115px" ng-repeat="error in errors">{{ error}}</span>
<span style="color:#000; margin-left: 150px; font-weight:bold; padding:10px;" ng-repeat="msg in msgs">{{ msg}}</span>
<table width="100%">
<tr><td>First Name</td><td><input type="text" ng-model="firstname" id="firstname"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er1"></span></td></tr>
<tr><td>Last Name</td><td><input type="text" ng-model="lastname" id="lastname"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er2"></span></td></tr>
<tr><td>Term</td><td><select ng-model="term" id="term"/><option value="Term NET 10"> Term Net 10</option>
<option value="Term NET 25">Term NET 25</option>
<option value="Term NET 30">Term NET 30</option>
<option value="Term NET 45">Term NET 45</option>
<option value="Term NET 60">Term NET 60</option>
<option value="Term 1% 10 Net 30">Term 1% 10 Net 30</option>
<option value="Upon Receipt">Upon Receipt</option>
<option value="Term 2% 10 Net 30">Term 2% 10 Net 30</option>
<option value="Term NET 90">Term NET 90</option></select>
 </td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er2"></span></td></tr>
<tr><td>Name on Checks</td><td><input type="text" ng-model="namechecks" id="namechecks"/></td></tr> 
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er3"></span></td></tr>
<tr><td>Business Type</td><td><select ng-model="businesstype" id="businesstype"/> 
<option value ="bank">Bank</option>
<option value ="church">Church</option>
<option value ="clinic">Clinic</option>
<option value ="grocery store">Grocery store</option>>
<option value ="hospital">Hospital</option>
<option value ="hotel">Hotel</option>
<option value ="library">Library</option>
<option value ="office">Office</option>
<option value ="restaurant">Restaurant</option>
<option value ="school">School</option>
<option value ="Shopcenter">Shop Center</option>
<option value ="other">Other</option>
<option value ="industrial">Industrial</option>
<option value ="resdential">Residential</option></select></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er3"></span></td></tr>

<tr><td>Representative:</td><td><select ng-model="represent" id="represent"/><option value="Peter"> Peter</option>
<option value="John">John</option></select></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er2"></span></td></tr>
<tr><td>Address</td><td><input type="text" ng-model="address" id="address"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er4"></span></td></tr>
<tr><td>City</td><td><input type="text" ng-model="city" id="city"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er5"></span></td></tr>
<tr><td>State</td><td><input type="text" ng-model="state" id="state"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er6"></span></td></tr>
<tr><td>Zip</td><td><input type="text" ng-model="zip" id="zip" /></td></tr>   
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er7"></span></td></tr> 
<tr><td>Country</td><td><input type="text" ng-model="country" id="country"/></td></tr> 
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er8"></span></td></tr>
<tr><td>Mobile Phone</td><td><input type="text" ng-model="mphone" id="mphone"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er9"></span></td></tr>
<tr><td>Fax</td><td><input type="text" ng-model="fax" id="fax"/></td></tr>
<tr><td></td><td><span style="color:red; margin-left: 47px;" id="er10"></span></td></tr>
<tr><td></td><td><input type="hidden" ng-model="hidmail" id="hidmail" /><input type="submit" value="Update Customer" style="height: 40px;background: #6eb43f;color: #fff;font-family: arial;font-size: 18px;border: none;" />
</td></tr>                
</table>
</form>
