<div id="logo-home">
<a href="#"><img src="images/chicago-cleaning-systems.png" /></a>
</div>
<div id="nav">
<ul id="f1">
<li><a ng-click="setRoute('home')">Home</a></li>
<li><a href="#">Sales</a></li>
<li><a href="#">Customers</a></li>
<li style="background:#592884; cursor:pointer"><a ng-click="setRoute('franchise')">Franchise</a></li>
<li><a href="#">Employees</a></li>
<li><a href="#">Work</a></li>
<li><a href="#">Accounting</a></li>
<li><a href="#">Reports</a></li>
<li><a href="#">Settings</a></li>
<li><a ng-click="logout()">Logout</a></li>
</ul>
</div>
<div id="input">
<div align="right"><a style="cursor: pointer; text-decoration: underline" ng-click="addfranchise()">Add Franchise</a></div><br/>
<table class="franchise" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr class="franchise-1" style="background:#6eb43f; height:40px; font-weight: bold"><td class="franchise-2" align="center">First Name</td><td class="franchise-2" align="center">Last Name</td><td class="franchise-2" align="center">Address</td><td class="franchise-2" align="center">Mobile Number</td><td class="franchise-2" align="center">Email</td><td class="franchise-2" align="center">Edit</td><td class="franchise-2" align="center">Delete</td></tr>
<tr><td id="show" style="display:none;text-align: center;" colspan="5">{{show}}</td></tr>
<tr class="franchise-1" ng-repeat="person in Franchise" ng-class-odd="'odd'" ng-class-even="'even'"><td class="franchise-2" align="center">{{person.firstname}}</td><td class="franchise-2" align="center">{{person.lastname}}</td><td class="franchise-2" align="center">{{person.address}}</td><td class="franchise-2" align="center">{{person.mobile}}</td><td class="franchise-2" align="center">{{person.email}}</td><td class="franchise-2" align="center"><a ng-click="editItem(person)"><img src="images/edit_btn01.png" width="20" height="20" /></a></td><td class="franchise-2" align="center" ><a ng-click="deleteItem(person)"><img src="images/delete_btn02.png" width="20" height="20" /></td></tr>
</table>
</div>

