<body>
<div id="logo-home">
<a href="#"><img src="images/chicago-cleaning-systems.png"/></a>
</div>
<div id="nav">
<ul id="f1">
<li style="background:#592884; cursor:pointer"><a ng-click="setRoute('home')">Home</a></li>
<li><a href="#">Sales</a></li>
<li><a ng-click="setRoute('customer')">Customers</a>
<li><a ng-click="setRoute('franchise')">Franchise</a></li>
<li><a href="#">Employees</a></li>
<li><a href="#">Work</a></li>
<li><a href="#">Accounting</a></li>
<li><a href="#">Reports</a></li>
<li><a href="#">Settings</a></li>
<li><a ng-click="logout()">Logout</a></li>
</ul>
</div>
</body>


