<div id="login">
<div id="logo">
<h3>Secure Login to Image One</h3><img src="images/chicago-cleaning-systems.png" style="float:right; margin-right:40px;" width="230" height="90" />
</div>
<div id="form">
<form ng-submit="login()" novalidate>
<div align="center"><p style="font-size:13px; padding-left: 35px; color: red">{{message}}</p></div>
<table class="loginform">
<tr class="email">
<td class="col-1"><p>Email:</p></td>
<td><input type="text"  placeholder="Username" ng-model="credentials.username" id="email"/></td>
</tr>
<tr><td class="col-1"></td><td><span style="color:red;font-size:13px; margin-left:50px;" id="err1"></span></td></tr>
<tr class="pswd">
<td class="col-1"><p>Password:</p></td>
<td><input type="password"  placeholder="Password" ng-model="credentials.password" id="password"/></td>
</tr> 
<tr><td class="col-1"></td><td><span style="color:red;font-size:13px; margin-left:50px;" id="err2"></span></td></tr>
<tr class="check-1">
<td class="col-1" colspan="2">
<input type="submit" value="Login" style="width: 100px;height: 40px;background: #6eb43f;color: #fff;font-family: arial;font-size: 18px;border: none; margin-left: 180px;" />
</td>
</tr>
</table>
</form>
</div>