*{
	margin:0px;
	padding:0px;
}
body{
	background:#f8f8f8;
	margin:0px;
	padding:0px;
}
#logo-home{
	width:150px;
	height:100px;
	margin-left:140px;
}
#nav{
	background:#6eb43f;
	width:100%;
	height:35px;
	margin-top:20px;
}
ul{
	margin-left:103px;
}
li{
	list-style-type:none;
	display:inline-block;
	width:120px;
	height:35px;
	text-align:center;
	border-right:1px solid #000;
}
li a {
	text-decoration:none;
	color:#fff;
	line-height:35px;
	font-family:Arial;
	font-weight:bold;
	width:120px;
	height:50px;
}
li:hover{
	background:#592884;
	cursor:pointer;
}
#input{
	width:70%;
	height:300px;
	margin-left:250px;
	margin-top:50px;
	border-radius:15px;
}
span{
	/*font-size:22px;
	margin:40px;
	line-height:60px;
	text-align:right;*/
}
input{
	width:200px;
	height:25px;
	border-left:5px solid #592884;
	font-size:17px;
	margin-left:50px;
}
select{
	width:200px;
	height:25px;
	border-left:5px solid #592884;
	font-size:17px;
	margin-left:50px;
}
button{
	width:200px;
	height:25px;
	font-size:17px;
	margin-left:50px;
	background:#6eb43f;
	color:#FFF;
	font-weight:bold;
	border-radius:8px;
}
/*Styles For Franchise List*/
table.franchise{
	width:980px;
	height:0px;
	background:#fff;
	margin:0px auto;
}
tr.franchise-1{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#f3f3f3;	
}
td.franchise-2{
	width:10px;
	border-right: 1px solid #d9e2ea;
	height:40px;
}
tr.franchise-1.odd{
	background:#fff;
}
tr.franchise-1.even{
	background:#f3f3f3f;
}
/*Styles For Franchise List Ends*/

/*Styles For Login*/
#login{width:650px; height:330px; margin:100px auto 200px auto; border-radius:10px; background:#fff; border:5px solid #b0b0b0;}
#login1{width:650px; height:360px; margin:100px auto 200px auto; border-radius:10px; background:#fff; border:5px solid #b0b0b0;}
#logo{width:auto; height:90px; background:#fff; border-radius:10px 10px 0px 0px;}
h3{color:#6eb43f; padding:10px;font-size:19px; font-family:Arial, Helvetica, sans-serif; margin-top:25px; position:absolute; float:left;}
#form{width:100%; height:240px;}
table.loginform{width:350px; height:auto; margin:14px auto;}
tr.email{height:0px;}
td.col-1{width:120px; font-family:Arial, Helvetica, sans-serif; font-size:19px; border:none;}
p{margin-left:19px; padding:10px;}
input{width:200px; height:28px; border-radius:5px;}
tr.pswd{width:auto; height:0px;}
tr.check-1{width:auto; height:0px;}
input.check{margin-left:35px; margin-top:-15px; position:absolute;}
/*Styles For Login Ends*/